header{
    position: fixed;
    background-color: blue;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 30%;
    overflow: hidden;
}

footer{
    position: fixed;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

#headerImg{
    width: 100%;
}

h1{
    font-family: HelveticaNeue-UltraLight, 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 100;
    letter-spacing: 1px;
    color: aliceblue;
    position: absolute;
    left: 0;
    top: 22%;
    width: 100%;
    text-align: center;  
}

body{
    background-color: rgb(241, 239, 239);
}

article{
    width: 100%;
}

#sectionLeft{
    position: fixed;
    top: 40%;
    left: 40%;
    height: 50%;
    width: 50%;
    border-left: 2px solid rgb(57, 32, 202);
    /*border-top: 2px solid rgb(123, 79, 206);*/
}

#contactMeButton{
    position: absolute;
    top: 90%;
    left: 45%;
    height: 5%;
    width: 10%;
    border-radius: 40px;
    background-color: blueviolet;
    font-size: 50px;
}

#tea{
    position: fixed;
    top: 8%;
    left: 0%;
    height: auto;
    width: 50%;
}

h2{
    font-family: HelveticaNeue-UltraLight, 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 100;
    letter-spacing: 1px;
    color: rgb(65, 12, 163);
    position: absolute;
    left: 5%;
    top: 2%;
    width: 100%;
    text-align: left;  
}

p{
    font-family: HelveticaNeue-UltraLight, 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 100;
    color: rgb(79, 79, 80);
    position: relative;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    line-height: 150%;
    top: 15%;
}







